
.main {
	display: flex;
	flex-wrap: wrap;
	.avilable {
		width: 30px;
		height: 30px;
		background-color: rgb(228, 231, 13);
	}
	.reserved {
		width: 30px;
		height: 30px;
		background-color: red;
		margin-left: 50px;
	}
	.yourReserved {
		width: 30px;
		height: 30px;
		background-color: rgb(85, 41, 156);
		text-align: right;
	}
	.select {
		width: 30px;
		height: 30px !important;
		background-color: yellow;
		margin-left: 50px;
	}
}

.select {
	background-color: palegreen !important;
	border: 1px solid #fff;
	text-align: center;
	padding: 20px 20px;
	width: 60px !important;
}

.seatClear {
	width: 200px !important;
	height: 50px;
	background-color: red;
	color: white;
	margin-right: 20px;
	margin-top: 10px;
	border: none;
	font-size: 30px;
}
