.colSeats {
	background-color: rgb(228, 231, 13);
	border: 1px solid #fff;
	text-align: center;
	cursor: pointer;
	width: 100% !important;
	// border: none;
}

.bookedSeats {
	background-color: rgb(85, 41, 156);
	border: 1px solid #fff;
}

.userReserved {
	border: 1px solid #fff;
	background-color: rgb(85, 41, 156) !important;
}
.select {
	background-color: palegreen !important;
	border: 1px solid #fff;
	text-align: center;
	cursor: pointer;
	width: 100% !important;
}

.book {
	width: 50%;
	height: 50px;
	margin-top: 50px;
	border: none;
	font-size: 25px;
	background-color: #d9534f;
	color: #fff;
	border-radius: 10px;
	transition: 500ms all ease-in-out;
	font-weight: bold;
	
}
